/* Null css */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

p, li, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

ul li{
    list-style: none;
}

a {
    text-decoration: none;
}